{% extends "layout.html" %}

{% block title %}
    Portifolio
{% endblock %}

{% block main %}
    <section class="container-fluid text-center">
        <form action="/secret" method="post" class="w-25 h-25 mx-auto">

            <div class="form-floating input-group">
                <span class="input-group-text">Name</span>
                <label for="adname" class="form-label">Name</label>
                <input type="text" name="adname" id="adname" class="form-control" autocomplete="off">
            </div>
            <div class="form-floating input-group">
                <span class="input-group-text">Password</span>
                <label for="passwd" class="form-label">Password</label>
                <input type="password" name="passwd" id="passwd" class="form-control" autocomplete="off">
            </div>
                <div class="form-floating input-group">
                    <span class="input-group-text">SS</span>
                    <label for="ss" class="form-label">SS</label>
                    <input type="text" name="ss" id="ss" class="form-control" autocomplete="off">
                </div>
                <button type="submit" class="btn btn-primary">submit</button>

        </form>
    </section>
{% endblock %}